* {
  margin: 0;
  padding: 0;
}

body {
  background: #0d2115;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  height: auto;
  min-width: 100%;
  margin-top: 50px;
}

.container {
  padding: 50px;
}

.post {
  width: 500px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  background: #ff5;
  color: #171717;
}

.post h2 {
  margin-bottom: 20px;
}

.post p {
  margin-bottom: 10px;
}

.post a {
  color: #111;
}
