.ribbon_img {
  width: 100%;
  height: 100%;
}

.gift_img {
  width: 100%;
  height: 100%;
}

.gifts {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: end;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
}
.h_text_home {
  font-family: "CD Ovuer", sans-serif;
  font-size: 50;
}

.h_wrap {
  font-family: "CD Ovuer", sans-serif;
  font-size: 35;
  line-height: 90%;
  width: 75%;
  color: #f6dfb8;
}

.p_text_home {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14;
  width: 80%;
}

.p_wrap {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 14;
  width: 80%;
  margin-top: 20px;
  color: #f6dfb8;
}

.main_sec {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  margin-top: 14px;
  color: #f6dfb8;
}

.margins {
  width: 70%;
  align-items: flex-start;
  margin: auto;
  margin-top: 60px;
}

.button_main {
  color: #0d2115;
  font-family: "CD Ovuer", sans-serif;
  font-size: 25;
  margin-top: 80px;
  border-radius: 60px;
  padding: 7px 17px 7px 17px;
  min-width: 70%;
  background-color: #f6dfb8;
  border: none;
  outline: none;
}

.button_main:active {
  transform: scale(0.98);
  outline: none;
}
